<li>
	{{id}}. {{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-devoured="{{devoured}}">>
		 {{#if devoured}}Yummy{{else}}Let's eat{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>